// Primary
$tomato: hsl(4, 100%, 67%);
$veryTomato: #ff596a;
// Neutral
$darkSlateGrey: hsl(234, 29%, 20%);
$charcoalGrey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);
$fontSize: 16px;
$font:  'Roboto', sans-serif;





body {
    background-color: $charcoalGrey;
    font-family: $font;
    font-size: $fontSize;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    .correct{
        border: 1px solid $grey;
    }
    
    .error{
        color: red;
        border: 1px solid red;
        background-color: hsl(4, 100%, 67%,0.1);
    }
    
    .error:focus{
        border: 2px solid red;
        outline: none;
    }
    
    .hide{
        display: none;
    }
}

#card{
    overflow: hidden;
    
    .inCardContent{
        display: flex;
        background-color: $white;
        padding: 1.2rem;
        border-radius: 2rem;
    .inCardContentLeft{
        padding: 2rem;
        padding-top: 3rem;
        p{
            color: $charcoalGrey;
            width: 40ch;
        }
        h1{
            font-size: 58px;
            font-weight: 700;
            color: $darkSlateGrey;
            margin-bottom: 1.5rem;
        }
        .inputTexts{
            position: relative;
            p{
            
            color: $charcoalGrey;
        }
        #errorM{
            position: absolute;
            // margin-left: auto;
            // margin-right: auto;
            top:0.5rem;
            padding: 0;
            margin: 0;
            right: -1rem;
            transform: translate(-50%, -50%);
            font-size: 12px;
            color: red;
        }
        }
        
        
        ul{
            padding-left: 1.5rem;
            
            
            li{
                list-style-image: url(../assets/images/icon-list.svg) ;
                line-height: 2;
                vertical-align: middle;
                p{
                    color: $charcoalGrey;
                    margin: 0;
                    margin-left: 10px;
                }
                
            }
        }
        .emailText{
            font-size: 12px;
            color:$darkSlateGrey;
            font-weight: 700;
            margin-top: 1.5rem;
        }
        #email{
            width: 80%;
            height: 45px;
            padding: 5px 20px;
            border-radius: 6px;
            
        }
        input{
            border: 2px solid $grey;
            outline: none;
        }
        input:focus{
            border: 2px solid $tomato;
        }
        .button{
            margin-top: 1.5rem;
            button{
                width: 91%;
                min-height: 55px;
                background-color: $darkSlateGrey;
                border: none;
                border-radius: 6px;
                color: $white;
                font-weight: 700;
                
            }
            button:hover{
                background: linear-gradient(45deg, $tomato, $veryTomato);
                cursor: pointer;
                
                
            }
        }
    }
    .inCardContentRight{
        img{
            max-width: 100%;
            height: auto;
        }
    }
}
}

@media (width <= 500px) {
    body{
        height: 100%;
        width: 100vw;
        justify-content: baseline;
        align-items:baseline;
    }
    #card{
        .inCardContent{
            flex-direction: column-reverse;
        border-radius: 0%;
        margin: 0;
        padding: 0;
        width:100vw;
        height: 100%;
        justify-content: center;
        align-items: center;
        
        
        .inCardContentLeft{
            
            align-items: center;
            h1{
                font-size: 42px;
                font-weight: 700;
            }
            p{
                width: 100%;
            }
            #email{
                width: 86%;
            }
            .button{
                button{
                    width: 100%;
                }
            }
            ul{
                li{
                    line-height: 1.5;
                }
            }
            .inputTexts{
                position: relative;
            #errorM{
                position: absolute;
                right: -3rem;
                z-index: 50;
            }
        }
        }
        .inCardContentRight{
            img{
                margin-top: 0;
                height: 100%;
                object-fit: cover;
                border-radius: 0px 0px 20px 20px;
                background-color: $tomato;

                
            }
        }
    }
    }
    
}

.successMessage{
    min-width: 15%;
    min-height: 31vh;
    background-color: $white;
    padding: 3rem;
    border-radius: 2rem;
    position: relative;
    img{
        width: 3rem;
    }
    h1{
        width: 10ch;
        font-size: 2.5rem;
        color: $darkSlateGrey;
    }
    p{
        width: 40ch;
        color: $charcoalGrey;
        font-size: 0.800rem;
    }
    button{
        width: 77%;
        min-height: 3rem;
        position: absolute;
        bottom: 0.5rem;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $darkSlateGrey;
        color: $white;
        font-weight: 700;
        border: none;
        border-radius: 0.5rem;
        
    }
}

@media (width <= 40em) {
    body{
        height: 100vh;
        background-color: $white;
    }
    .successMessage{
        background-color: $white;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 50%;
        width: 100%;
        

        h1{
            width: 80%;
            margin-top: 2rem;
            color: $darkSlateGrey;
            font-size: 2.5rem;
        }
        p{
            max-width: 38ch;
            color: $charcoalGrey;
            line-height: 1.5;
            margin-bottom: 3rem;
        }
        button{
            width: 90%;
            min-height: 3rem;
            
            // transform: translate(-50%, -50%);
            background-color: $darkSlateGrey;
            color: $white;
            font-weight: 700;
            border: none;
            border-radius: 0.5rem;
        }
    }
}